

@media (prefers-reduced-motion: no-preference) {
  .sudoku-logo {
    animation: logo-spin infinite 3s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
